.category-pic-div{
    width: 200px;
    height: auto;
    text-align: center;

}
.category-pic-div h4{
    line-height: 40px;
}
.category-main{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
   


}