.our-blog {
    background-color: #0F75BC;
    color: white;
    text-align: center;
    padding: 40px 0;
  }
  
  .contact-us-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 auto;
    width: 80%;
  }
  
  .contact-us-left {
    width: 45%;
    background-color: #F5F5F5;
    padding: 10px;
  }
  
  .contact-us-right {
    width: 45%;
    background-color: #F5F5F5;
  }
  
  .contact-us-heading {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }

  .paragrapgh{
    text-align: left;
    margin:0px
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .submit-button {
    background-color: #F7941D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #F68D0B;
  }
  

  .qoute-container {
    width: 80%;
    margin: auto; /* Center horizontally */
    /* Center vertically */
  }