body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav {
    height: 50px;
    display: flex;
    padding: 0 20px;
    background: #F7941D;
    color: white;
    margin-top: 30px;
  }

  .nav-wrapper{
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .all-categories-button {
    background: #0F75BC;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    height: 60px;
    border-radius: 20px 20px 0px 0px;
    margin-top: -10px;
    cursor: pointer;
    width: 150px;
  }

  .icon {
    margin-right: 5px;
    margin-left: 15px;
  }
  
  .nav-list {
    color: white;
    width: 30%;
    margin-top: 10px;
  }
  .nav-list ul{
    display: flex;
  }
  .nav-list ul li{
    list-style-type: none;
    margin-left: 20px;
    padding-right: 13px;
    border-right: 1px solid white;
    cursor: pointer;
  }
  
  .quote-button {
    background: #0F75BC;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 40px;
    width: 150px;
    cursor: pointer;
  }

/* Existing CSS up to the media query */

@media (max-width: 768px) {
  .nav {
      flex-direction: column;
      align-items: flex-start;
      height: 150px;
  }

  .nav-wrapper {
      flex-direction: column;
      align-items: flex-start; /* Apply styles to the wrapper */
      height: auto; /* Remove the fixed height */
      padding: 20px; /* Add some padding to the wrapper */
      width: 100%;
  }

  .all-categories-button {
      width: 40%; /* Adjust the width to 100% */
      border-radius: 20px 20px 0px 0px;
      text-align: left; /* Align text to the left */
      margin: auto;
      margin-top: -35px;
  }

  .quote-button {
      width: 40%; /* Adjust the width to 100% */
      margin: auto; /* Remove the margin */
  }
}







